{
  "mcpServers": {
    "mcp-server-uyuni": {
      "command": "uv",
      "args": ["run", "--env-file=/home/jordi/work/galaxy/mcp-server-uyuni/.venv/config","--directory","/home/jordi/work/galaxy/mcp-server-uyuni","mcp-server-uyuni"]
    }
  }
}
