name: Unit Tests

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Install dependencies
        run: uv sync

      - name: Run tests
        run: uv run --with pytest --with pytest-asyncio --with respx pytest test/test_tools.py